* {
  text-align: center;
  font-family: "Helvetica";
  sans-serif;
  }

.background {
  color: White;
  background-image: url("../images/the-flatiron-building.jpg");
}

h1, h2, h3 {
  font-weight: bold;
}

h1 {
  font-size: 70px;
}

.nav {
  font-size: 18px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 23px;
}

p {
  font-size: 14px;
}

.footer p {
  font-size: 11px;
  background-color: Dimgrey;
  text-align: left;
}

a {
  color: White;
}
